# See https://editorconfig.org for more about editor config.

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
trim_trailing_whitespace = true

[*.html,*.js,*.css]
indent_size = 4
indent_style = tab
max_line_length = 120
insert_final_newline = true
